body {
  background: #eee;
  font-family: sans-serif;
  position: relative;
  top: 5px;
}

.card {
  width: 480px;
  height: 203px;
  background: #fff;
  margin: 8px auto;
}

.title {
  background: #e3f4ff;
  text-align: auto;
  margin: 8px;
  position: relative;
  top: 8px;
  font-size: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px;
  position: relative;
  top: 8px;
  bottom: 8px;
  padding: 8px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  position: relative;
  top: 8px;
  margin: 8px;
  padding: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px;
  display: block;
  margin: auto;
}